<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css">
    <title>The Chat</title>
</head>
<body>
    <header>
        <div class="fixed flex px-3.5 py-4 w-full items-center bg-gray-700 z-10">
            <index class="w-full text-2xl text-white">
                <a href="/">The Chat</a>
            </index>
            <div id="logout" class="w-full text-right cursor-pointer text-white">
                logout
            </div>
        </div>
        <div class="h-16 w-full"></div>
    </header>
    <script type="module" src="/static/controller/ChatMain.js"></script>
</body>
</html>

