body{
    margin: 0;
}
.header-title{
    position: fixed;
    display: flex;
    height: 32px;
    padding-top: 16px;
    padding-bottom: 16px;
    width: 100%;
    align-items: center;
    background-color: #374151;
    z-index: 10;
}
.header-title-content{
    width: 100%;
    font-size: 32px;
    color: white;
    padding-left: 8px;
    padding-right: 8px;
}
.header-title-link{
    color: white;
    text-decoration: none;
}
.header-space{
    height: 54px;
    width: 100%;
}
.header-end{
    display: flex;
    justify-content: end;
    align-items: center;
    width: 100%;
}
.header-end-photo{
    width: 40px;
    height: 40px;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 50%;
    cursor: pointer;
}
.header-end-personal-box{
    position: absolute;
    display: none;
    flex-direction: column;
    justify-content: center;
    width: 320px;
    height: fit-content;
    top: 56px;
    margin-right: 10px;
    background-color: #374151;
    border-radius: 5px;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}
.header-end-personal-button{
    display: flex;
    align-items: center;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    border-width: 0px;
    border-radius: 5px;
    text-align: left;
    padding: 8px;
    margin-bottom: 4px;
    font-size: 20px;
    background-color: #374151;
    color: white;
    cursor: pointer;
}
.header-end-personal-button:hover{
    background-color: #9ca3af;
}
.header-end-personal-hr{
    border-width: 0.5px;
    width: 95%;
    margin-top: 2px;
    margin-bottom: 4px;
}
.loading-div{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 5;
}
.loading{
    height: 500px;
    width: 500px;
}
.block{
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 2; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.0); /* Black w/ opacity */
}


.chat-box{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(100vh - 54px);
}
.chat-inside{
    display: flex;
    top: 30px;
    width: 1000px;
    height: 90%;
    border-radius: 5px;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.2), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}
.chat-left{
    width: 30%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: #6A6C75;
}
.chat-right{
    width: 70%;
}
.chat-left-inside{
    margin: 20px;
}

.chat-left-top{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}
.chat-left-top-btn{
    width: 33%;
    height: 50px;
}
.listContent{
    overflow: auto;
}
.btn-split{
    width: 1px;
    height: 45px;
}
.chat-left-top-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #6A6C75;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.chat-left-top-img{
    height: 45px;
    width: 45px;
}
#friendBtn{
    background-color: #8d909d;
}

.userSearch{
    display: flex;
    width: 100%;
    border: white;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.searchInput{
    display: block;
    padding: 5px;
    background-color: white;
    width: calc(100% - 40px);
    height: 40px;
    border-width: 0;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.searchInput:focus{
    outline: none;
}
.searchBtn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border: none;
    background-color: white;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
}
.searchImg{
    width: 30px;
    height: 30px;
    object-fit: cover;
}
.search-username{
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}
.add-friend{
    display: flex;
    width: 60px;
    height: 60px;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    border: none;
    cursor: pointer;
}
.add-friend:hover{
    background-color: #d7dbeb;
}
.addImg{
    width: 45px;
    height: 45px;
}
.search-message{
    text-align: center;
    font-size: 16px;
}
.add-added-friend{
    display: flex;
    width: 100%;
    height: 70px;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
}
.add-added-friend:hover{
    background-color: #8d909d;
}
.add-added-img{
    width: 50px;
    height: 50px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 50%;
    object-fit: cover;
}
.add-added-username{
    color: white;
}
.friend-list{
    display: flex;
    width: 100%;
    height: 70px;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
}
.friend-list:hover{
    background-color: #8d909d;
}
.friend-img{
    width: 50px;
    height: 50px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 50%;
    object-fit: cover;
}
.friend-username{
    color: white;
}
.friend-chat-btn-list{
    display: flex;
}
.chat-list{
    display: flex;
    width: 100%;
    height: 70px;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
}
.chat-list:hover{
    background-color: #8d909d;
}
.last-message-box{
    width: 170px;
}
.last-message{
    color: #bebebe;
    font-size: 14px;
}
.last-message-time-box{
    display: flex;
    width: auto;
    justify-content: end;
    align-items: flex-end;
}
.last-message-time{
    color: #bebebe;
    font-size: 12px;
}


.chat-right-top{
    display: flex;
    align-items: center;
    height: 60px;
}
.chat-right-middle{
    height: calc(100% - 114.5px);
    overflow: auto;
}
.chat-right-bottom{
    display: flex;
    align-items: center;
    height: 50px;
}
.chat-right-bottom-input{
    width: calc(100% - 50px);
    height: 50px;
    border: none;
    margin: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 10px;
    font-size: 20px;
}
.chat-right-bottom-input:focus{
    outline: none;
}
.chat-right-bottom-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    height: 50px;
    width: 50px;
    border: none;
    margin: 0px;
    cursor: pointer;
}
.chat-right-bottom-btn-img{
    height: 30px;
    width: 30px;
    background-color: white;
}
.chatBox-split{
    height: 1px;
    margin: 0px;
}



.popup{
    display: none;
    position: fixed;
    height: 100%;
    width: 100%;
    justify-content: center;
    left: 0px;
    top: 0px;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 2;
}
.popup-inside{
    position: relative;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    width: 360px;
    height: fit-content;
    padding-top: 40px;
    padding-bottom: 40px;
    top: 144px;
    background-color: white;
}
.popup-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.popup-leave{
    position: absolute;
    right: 16px;
    top: 16px;
    cursor: pointer;
}
.photo-div{
    border: #374151;
    border-width: 1px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    width: 120px;
    height: 120px;
}
.change-photo-title{
    text-align: center;
    font-size: 16px;
}
.edit-profile-photo{
    width: 80px;
    height: 80px;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    object-fit: cover;
}

.my-message-div{
    display: flex;
    justify-content: end;
    align-items: center;
    margin: 5px;
}
.friend-message-div{
    display: flex;
    flex-direction: column;
    margin: 5px;
}
.message-box{
    max-width: 400px;
}
.time-and-content{
    display: flex;
    align-items: flex-end;
}
.messages-myMessage{
    background-color: rgb(141, 141, 141);
    color: white;
    font-size: 18px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 10px;
}
.messages-friendMessage{
    background-color: rgb(63, 63, 63);
    color: white;
    font-size: 18px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 10px;
}

.messages-time{
    font-size: 14px;
    margin: 5px;
}
