body{
    background-color: #000000c7;
    margin: 0px;
}
.video{
    position: relative;
}
.remote-video{
    width: 100%;
    height: 100vh;
    object-fit: cover;
    background-color: gray;
    border-radius: 5px;
}
.local-video{
    position: absolute;
    width: 200px;
    height: auto;
    object-fit: cover;
    right: 20px;
    bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.3), 0 4px 6px -4px rgb(0 0 0 / 0.3);
}
.button-list{
    position: absolute;
    bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.call-button{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    border: none;
    margin: 5px;
    cursor: pointer;
}
.call-img{
    height: 45px;
    width: 45px;
    object-fit: cover;
}
.call-button:hover{
    background-color: rgba(255, 255, 255, 0.3);
}
#cancel{
    background-color: rgba(255, 0, 0, 0.3);
}
#cancel:hover{
    background-color: rgba(255, 0, 0, 0.5);
}
