<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/css/index.css">
    <title>The Chat</title>
</head>
<body>
    <header>
        <div class="header-title">
            <div class="header-title-content">
                <a class="header-title-link" href="/">The Chat</a>
            </div>
        </div>
        <div class="header-space"></div>
    </header>
    <main>
        <div class="main-inside">
            <div class="main-left">
                <div class="text-center">
                    等之後不想補
                </div>
            </div>
            <div class="main-right">
                <div class="main-right-inside">
                    <div class="main-right-title">Login</div>
                    <input id="loginEmail" class="main-input" placeholder="email" type="text"/>
                    <input id="loginPassword" class="main-input" placeholder="password" type="password"/>
                    <button id="loginBtn" class="main-right-button">login</button>
                    <a class="main-right-forgot" href="*">forget password?</a>
                    <hr class="main-right-hr"/>
                    <button id="createBtn" class="main-right-create-button">create new account</button>
                    <div id="loginErrorMsg" class="main-right-error"></div>
                    <div id="loginLoading" class="login-loading">
                        <img class="api-loading-gif" src="/static/img/icon_loading.gif" alt=""/>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <div id="popup" class="main-popup">
        <div id="popupContent" class="main-popup-inside">
            <div class="main-popup-content">
                <div class="main-right-title">Register</div>
                <input id="registerName" class="main-input" placeholder="username" type="text"/>
                <input id="registerEmail" class="main-input" placeholder="email" type="email"/>
                <input id="registerPassword" class="main-input" placeholder="password" type="password"/>
                <input id="registerConfirm" class="main-input" placeholder="confirmation" type="password"/>
                <button id="registerBtn" class="main-right-button">register</button>        
                <hr class="main-right-hr"/>
                <div class="main-register-notice">Password needs at least 8 items with numbers, upper and lower case</div>
                <div id="registerErrorMsg" class="main-right-error"></div>        
                <div id="registerLoading" class="register-loading">
                    <img class="api-loading-gif" src="/static/img/icon_loading.gif" alt=""/>
                </div>
            </div>
            <img id="leaveBtn" class="main-register-leave" src="/static/img/icon_close.png" alt="">
        </div>
    </div>
    <div id="loading" class="loading-div">
        <img class="loadingImg" src="/static/img/loading.gif" alt=""/>
    </div>
    <script src="/static/js/index/varible.js"></script>
    <script type="module" src="/static/js/index/index.js"></script>
</body>
</html>