<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/css/room.css">
    <link rel="icon" type="image/x-icon" href="/static/img/logo.png">
    <title>The Chat</title>
</head>
<body>
    <div id="live" class="video">
        <video id="remoteVideo" class="remote-video"></video>
        <video id="localVideo" class="local-video" autoplay muted></video>
        <div class="button-list">
            <div id="cancel" class="call-button"><img class="call-img" src="/static/img/icon_cross.png" alt=""/></div>
            <div id="microphone" class="call-button"><img class="call-img" src="/static/img/icon-microphone.png" alt=""/></div>
            <div id="camera" class="call-button"><img class="call-img" src="/static/img/icon_video_call.png" alt=""/></div>
            <div id="screenShare" class="call-button"><img class="call-img" src="/static/img/icon-screen.png" alt=""/></div>
        </div>
    </div>
    <script src="https://unpkg.com/peerjs@1.3.1/dist/peerjs.min.js"></script>
    <script src="/static/js/room/variableRoom.js"></script>
    <script type="module" src="/static/js/room/room.js"></script>
</body>
</html>